@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General */
$background-color: #F3F3F3;

/* Measurement */
$overall-margin: 20px 20px 0 20px;

/* Background */
$base-background-color: #000000;

/* Font */
$base-font-color: #000000;
$contrast-font-color: #FFFFFF;
$highlight-font-color: #B50314;

$f-fam: 'Poppins', sans-serif;

html {
    scroll-behavior: smooth;
    font-family: $f-fam;
    margin: 0;
}

section {
    min-height: 100vh;
}

.header {
    display: flex;
    margin: $overall-margin;
    .caption {
        letter-spacing: 10px;
        font-family: $f-fam;
        color: $highlight-font-color;
        font-size: 30px;
        transition: .3s;
    }
    .caption:hover {
        background-color:  $highlight-font-color;
        color: $contrast-font-color;
    }
    .menu-tabs {
        margin-left: auto; 
        float: right;
        
        li {
            display: inline;
            margin: 30px;
            a {
                font-family: $f-fam;
                font-size: 20px;
                color: $base-font-color;
                text-decoration: none;
                transition: 0.3s;
            }
            :hover {
                color: $highlight-font-color
            }
        }
    }
}
.highlights {
    margin: $overall-margin;
    margin-top: 5%;
    .top {
        font-family: $f-fam;
        font-size: 40px;
        color: $highlight-font-color;
        float: left;
        padding: 20px 0 0 0;
        width: 30%;
        box-sizing: border-box;

        .normal {
            margin-top: 10%;
            font-size: 20px;
            color: $base-font-color;
        }
    }
    .highlights-caption {
        float: left;
        width: 40%;
        padding: 20px 20px 0 0;
        box-sizing: border-box;
        color: $base-font-color;
        font-family: $f-fam;
        font-size: 60px;
    }
    .data-highlights {
        float: right;
        width: 60%;
        .down {
            float: left;
            font-family: $f-fam;
            font-size: 30px;
            width: 90%;
            margin-top: 5%;
        }
        a {
            color: $contrast-font-color;
        }
        .highlights-button {
            margin-top: 5%;
            float: right;
            width: 10%;
            height: 100%;
            background-color: $highlight-font-color;
            text-align: center;
            a {
                color: $contrast-font-color;
                display: block;
                height: 100%;
                width: 100%;
                text-decoration: none;
            }
        }
        .catchUp {
            vertical-align: bottom;
            height: 100%;
            width: 100%;
        }
    }
}

// .svg-lookDown {
//     position: relative;
//     .lookDown {
//         font-family: $f-fam;
//         color: $base-font-color;
//         position: absolute;
//         top: 90%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }
//     .lookDown:hover {
//         color: $highlight-font-color;
//         transition: 0.3s;
//     }
// }

// Tabs
.sec-tab {
    // display: flex;

    .tab {
        overflow: hidden;
        display: flex;
    }

    .tab button {
        font-family: $f-fam;
        font-size: 30px;
        background-color: $base-background-color;
        color: $contrast-font-color;
        width: 20%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border-style: none;
        margin: 0 auto;
        margin-top: 5%;
        padding: 20px;
        transition: 0.3s;
    }

    .tab button:hover {
        background-color: $highlight-font-color;
        color: $contrast-font-color;
    }

    .tab button.active {
        background-color: $highlight-font-color;
        color: $contrast-font-color;
    }

    .tabcontent {
        display: none;
        border-style: none;
        position: relative;
        img {
            filter: opacity(90%) grayscale(20%);
            display: block;
            position: relative;
            max-width: 100vw;
            max-height: 100vh;
            width: auto;
            height: auto;
        }
        .nav {
            position: absolute;
            background-color: $base-background-color;
            top: 0;
            width: 30vw;
            ul {
                padding: 0;
                list-style: none;
                li {
                    a {
                        color: $contrast-font-color;
                        padding: 0 5% 0 5%;
                        text-decoration: none;
                    }
                }
                li:hover {
                    background-color: $contrast-font-color;
                    color: $base-font-color;
                }
            }
        }
        
    }
}
.top {
    // height: 50vh;
}


.left-pres {
    float: left;
    width: 60%;
    padding-left: 5%;
    h1 {
        font-family: $f-fam;
        color: $base-font-color;
    }
    .red {
        color: $highlight-font-color;
    }
}

.right-pres {
    float: right;
    width: 40%;
    position: relative;
    margin: 1% 0 0 0;

    .img1 {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
    }
    .img2 {
        position: absolute;
        // height: 100%;
        // width: 100%;
        top: 0;
        right: 0;
    }
    .learnMore {
        color: $highlight-font-color;
        font-size: 40px;
        margin-top: 0;
        text-align: center;
    }
}

.bottom {
    // height: 50vh;
}

.img3 {
    border: #000000;
    border-style: dashed;
}