@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General */
$background-color: #F3F3F3;

/* Measurement */
$overall-margin: 20px 20px 0 20px;

/* Background */
$base-background-color: #000000;

/* Font */
$base-font-color: #000000;
$contrast-font-color: #FFFFFF;
$highlight-font-color: #B50314;

$f-fam: 'Poppins', sans-serif;

html {
    scroll-behavior: smooth;
    font-family: $f-fam;
}

section {
    min-height: 100vh;
}

.header {
    display: flex;
    margin: $overall-margin;
    .caption {
        letter-spacing: 10px;
        font-family: $f-fam;
        color: $highlight-font-color;
        font-size: 30px;
        transition: .3s;
    }
    .caption:hover {
        background-color:  $highlight-font-color;
        color: $contrast-font-color;
    }
    .menu-tabs {
        margin-left: auto; 
        float: right;
        
        li {
            display: inline;
            margin: 30px;
            a {
                font-family: $f-fam;
                font-size: 20px;
                color: $base-font-color;
                text-decoration: none;
                transition: 0.3s;
            }
            :hover {
                color: $highlight-font-color
            }
        }
    }
}
.highlights {
    margin: $overall-margin;
    margin-top: 5%;
    .top {
        font-family: $f-fam;
        font-size: 40px;
        color: $highlight-font-color;
        float: left;
        padding: 20px 0 0 0;
        width: 30%;
        box-sizing: border-box;

        .normal {
            margin-top: 10%;
            font-size: 20px;
            color: $base-font-color;
        }
    }
    .highlights-caption {
        float: left;
        width: 40%;
        padding: 20px 20px 0 0;
        box-sizing: border-box;
        color: $base-font-color;
        font-family: $f-fam;
        font-size: 60px;
    }
    .data-highlights {
        float: right;
        width: 60%;
        .down {
            float: left;
            font-family: $f-fam;
            font-size: 30px;
            width: 80%;
            margin-top: 5%;
        }
        .highlights-button {
            float: right;
            width: 20%;
            margin-top: 5%;
            padding: 20px;
            background-color: $highlight-font-color;
            text-align: center;
            width: fit-content;
            height: fit-content;
            a {
                text-decoration: none;
                color: $contrast-font-color
            }
        }
        .catchUp {
            margin-top: 30px;
            height: 100%;
            width: 100%;
        }
    }
}

// .svg-lookDown {
//     position: relative;
//     .lookDown {
//         font-family: $f-fam;
//         color: $base-font-color;
//         position: absolute;
//         top: 90%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }
//     .lookDown:hover {
//         color: $highlight-font-color;
//         transition: 0.3s;
//     }
// }

// Tabs

.tab {
    overflow: hidden;
    display: flex;
}

.tab button {
    font-family: $f-fam;
    font-size: 30px;
    background-color: $base-background-color;
    color: $contrast-font-color;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-style: none;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: $highlight-font-color;
    color: $contrast-font-color;
}

.tab button.active {
    background-color: $highlight-font-color;
    color: $contrast-font-color;
}

.tabcontent {
    display: none;
    border-style: none;
    padding: 6px 12px;
}